USE [master]
GO
/****** Object:  Database [УчетДемоЭкзамена]    Script Date: 25.05.2026 13:35:45 ******/
CREATE DATABASE [УчетДемоЭкзамена]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'УчетДемоЭкзамена', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\УчетДемоЭкзамена.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'УчетДемоЭкзамена_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\УчетДемоЭкзамена_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [УчетДемоЭкзамена].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [УчетДемоЭкзамена]
GO
/****** Object:  User [Эксперт_Малых]    Script Date: 25.05.2026 13:35:45 ******/
CREATE USER [Эксперт_Малых] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Методист_Малых]    Script Date: 25.05.2026 13:35:45 ******/
CREATE USER [Методист_Малых] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Гость_Малых]    Script Date: 25.05.2026 13:35:45 ******/
CREATE USER [Гость_Малых] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Администратор_Малых]    Script Date: 25.05.2026 13:35:45 ******/
CREATE USER [Администратор_Малых] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Роль_Эксперт]    Script Date: 25.05.2026 13:35:45 ******/
CREATE ROLE [Роль_Эксперт]
GO
/****** Object:  DatabaseRole [Роль_Методист]    Script Date: 25.05.2026 13:35:45 ******/
CREATE ROLE [Роль_Методист]
GO
/****** Object:  DatabaseRole [Роль_Гость]    Script Date: 25.05.2026 13:35:45 ******/
CREATE ROLE [Роль_Гость]
GO
/****** Object:  DatabaseRole [Роль_Администратор]    Script Date: 25.05.2026 13:35:45 ******/
CREATE ROLE [Роль_Администратор]
GO
ALTER ROLE [Роль_Эксперт] ADD MEMBER [Эксперт_Малых]
GO
ALTER ROLE [Роль_Эксперт] ADD MEMBER [Методист_Малых]
GO
ALTER ROLE [Роль_Методист] ADD MEMBER [Методист_Малых]
GO
ALTER ROLE [Роль_Гость] ADD MEMBER [Гость_Малых]
GO
ALTER ROLE [Роль_Эксперт] ADD MEMBER [Администратор_Малых]
GO
ALTER ROLE [Роль_Методист] ADD MEMBER [Администратор_Малых]
GO
ALTER ROLE [Роль_Администратор] ADD MEMBER [Администратор_Малых]
GO
ALTER ROLE [Роль_Эксперт] ADD MEMBER [Роль_Методист]
GO
ALTER ROLE [Роль_Методист] ADD MEMBER [Роль_Администратор]
GO
/****** Object:  Table [dbo].[Журнал_результатов]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Журнал_результатов](
	[ID_записи_журнала] [int] IDENTITY(1,1) NOT NULL,
	[ID_итога] [int] NOT NULL,
	[ID_студента] [int] NOT NULL,
	[ID_экзамена] [int] NOT NULL,
	[Сумма_баллов_до] [decimal](10, 2) NOT NULL,
	[Процент_до] [decimal](5, 2) NOT NULL,
	[Оценка_до] [int] NOT NULL,
	[Статус_до] [nvarchar](20) NOT NULL,
	[Сумма_баллов_после] [decimal](10, 2) NOT NULL,
	[Процент_после] [decimal](5, 2) NOT NULL,
	[Оценка_после] [int] NOT NULL,
	[Статус_после] [nvarchar](20) NOT NULL,
	[ID_эксперта_изменившего] [int] NOT NULL,
	[Дата_изменения] [datetime] NOT NULL,
	[Причина_изменения] [nvarchar](500) NULL,
	[Тип_изменения] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи_журнала] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[История_паролей]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[История_паролей](
	[ID_истории] [int] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NOT NULL,
	[Хэш_пароля] [nvarchar](255) NOT NULL,
	[Соль] [nvarchar](100) NOT NULL,
	[Дата_установки] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_истории] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Итоги]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Итоги](
	[ID_итога] [int] IDENTITY(1,1) NOT NULL,
	[ID_студента] [int] NOT NULL,
	[ID_экзамена] [int] NOT NULL,
	[Сумма_баллов] [decimal](10, 2) NOT NULL,
	[Процент] [decimal](5, 2) NOT NULL,
	[Оценка] [int] NOT NULL,
	[Статус] [nvarchar](20) NOT NULL,
	[Дата_расчета] [datetime] NOT NULL,
	[ID_эксперта] [int] NULL,
	[Комментарий] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_итога] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Критерии]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Критерии](
	[ID_критерия] [int] IDENTITY(1,1) NOT NULL,
	[ID_модуля] [int] NOT NULL,
	[Название_критерия] [nvarchar](200) NOT NULL,
	[Макс_балл_критерия] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_критерия] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Модули]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Модули](
	[ID_модуля] [int] IDENTITY(1,1) NOT NULL,
	[ID_экзамена] [int] NOT NULL,
	[Номер_модуля] [int] NOT NULL,
	[Название_модуля] [nvarchar](200) NOT NULL,
	[Макс_балл_модуля] [decimal](10, 2) NOT NULL,
	[Вес_модуля] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_модуля] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Хэш_пароля] [nvarchar](255) NOT NULL,
	[Соль] [nvarchar](100) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Роль] [nvarchar](20) NOT NULL,
	[Активен] [bit] NULL,
	[Дата_регистрации] [datetime] NULL,
	[Дата_последнего_входа] [datetime] NULL,
	[Количество_ошибок_входа] [int] NULL,
	[Заблокирован_до] [datetime] NULL,
	[Требуется_смена_пароля] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сессии]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сессии](
	[ID_сессии] [int] IDENTITY(1,1) NOT NULL,
	[ID_пользователя] [int] NOT NULL,
	[Токен_сессии] [nvarchar](255) NOT NULL,
	[IP_адрес] [nvarchar](45) NULL,
	[Время_входа] [datetime] NULL,
	[Время_истечения] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_сессии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Специальности]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Специальности](
	[ID_специальности] [int] IDENTITY(1,1) NOT NULL,
	[Код_специальности] [nvarchar](20) NOT NULL,
	[Название_специальности] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_специальности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Студенты]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Студенты](
	[ID_студента] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Группа] [nvarchar](20) NOT NULL,
	[Номер_зачетки] [nvarchar](20) NOT NULL,
	[Статус_участия] [nvarchar](30) NULL,
	[ID_специальности] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_студента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Экзамены]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Экзамены](
	[ID_экзамена] [int] IDENTITY(1,1) NOT NULL,
	[Название_компетенции] [nvarchar](100) NOT NULL,
	[Код_компетенции] [nvarchar](20) NOT NULL,
	[Дата_начала] [date] NOT NULL,
	[Время_начала] [time](7) NOT NULL,
	[Макс_балл] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_экзамена] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Эксперты]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Эксперты](
	[ID_эксперта] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NULL,
	[Должность] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_эксперта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Журнал_изменений]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Журнал_изменений] AS
SELECT 
    ж.ID_записи_журнала,
    с.Фамилия + ' ' + с.Имя + ' ' + ISNULL(с.Отчество, '') AS Студент,
    э.Название_компетенции,
    ж.Сумма_баллов_до,
    ж.Процент_до,
    ж.Оценка_до,
    ж.Статус_до,
    ж.Сумма_баллов_после,
    ж.Процент_после,
    ж.Оценка_после,
    ж.Статус_после,
    е.Фамилия + ' ' + LEFT(е.Имя, 1) + '.' AS Изменил,
    ж.Дата_изменения,
    ж.Причина_изменения,
    ж.Тип_изменения
FROM Журнал_результатов ж
INNER JOIN Студенты с ON ж.ID_студента = с.ID_студента
INNER JOIN Экзамены э ON ж.ID_экзамена = э.ID_экзамена
INNER JOIN Эксперты е ON ж.ID_эксперта_изменившего = е.ID_эксперта;
GO
/****** Object:  View [dbo].[Сводка_результатов]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Сводка_результатов] AS
SELECT 
    -- Кто сдавал
    с.Фамилия + ' ' + с.Имя + ' ' + ISNULL(с.Отчество, '') AS Студент,
    с.Группа,
    с.Специальность,
    с.Номер_зачетки,
    с.Статус_участия,
    
    -- Что сдавал
    э.Название_компетенции,
    э.Код_компетенции,
    
    -- Когда сдавал
    э.Дата_начала,
    э.Время_начала,
    
    -- Насколько сдал
    и.Сумма_баллов,
    и.Процент,
    и.Оценка,
    и.Статус,
    и.Дата_расчета,
    
    -- Кто принимал экзамен
    эф.Фамилия + ' ' + LEFT(эф.Имя, 1) + '.' + LEFT(ISNULL(эф.Отчество, ''), 1) + '.' AS Эксперт,
    и.Комментарий
    
FROM 
    Итоги и
    INNER JOIN Студенты с ON и.ID_студента = с.ID_студента
    INNER JOIN Экзамены э ON и.ID_экзамена = э.ID_экзамена
    LEFT JOIN Эксперты эф ON и.ID_эксперта = эф.ID_эксперта;
GO
SET IDENTITY_INSERT [dbo].[Итоги] ON 

INSERT [dbo].[Итоги] ([ID_итога], [ID_студента], [ID_экзамена], [Сумма_баллов], [Процент], [Оценка], [Статус], [Дата_расчета], [ID_эксперта], [Комментарий]) VALUES (0, 23, 0, CAST(77.63 AS Decimal(10, 2)), CAST(77.63 AS Decimal(5, 2)), 4, N'сдал', CAST(N'2026-05-25T12:34:42.430' AS DateTime), 6, N'Хороший результат')
INSERT [dbo].[Итоги] ([ID_итога], [ID_студента], [ID_экзамена], [Сумма_баллов], [Процент], [Оценка], [Статус], [Дата_расчета], [ID_эксперта], [Комментарий]) VALUES (1, 4, 0, CAST(94.05 AS Decimal(10, 2)), CAST(94.05 AS Decimal(5, 2)), 5, N'сдал', CAST(N'2026-05-25T12:34:42.430' AS DateTime), 3, N'Отличный результат')
INSERT [dbo].[Итоги] ([ID_итога], [ID_студента], [ID_экзамена], [Сумма_баллов], [Процент], [Оценка], [Статус], [Дата_расчета], [ID_эксперта], [Комментарий]) VALUES (2, 49, 7, CAST(38.05 AS Decimal(10, 2)), CAST(38.05 AS Decimal(5, 2)), 2, N'не сдал', CAST(N'2026-05-25T12:34:42.433' AS DateTime), 5, N'Неудовлетворительно')
GO
SET IDENTITY_INSERT [dbo].[Итоги] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хэш_пароля], [Соль], [Фамилия], [Имя], [Отчество], [Email], [Роль], [Активен], [Дата_регистрации], [Дата_последнего_входа], [Количество_ошибок_входа], [Заблокирован_до], [Требуется_смена_пароля]) VALUES (1, N'admin', N'temp_hash', N'temp_salt', N'Администратор', N'Системы', NULL, N'admin@college.ru', N'Администратор', 1, CAST(N'2026-05-25T13:18:14.903' AS DateTime), NULL, 0, NULL, 0)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хэш_пароля], [Соль], [Фамилия], [Имя], [Отчество], [Email], [Роль], [Активен], [Дата_регистрации], [Дата_последнего_входа], [Количество_ошибок_входа], [Заблокирован_до], [Требуется_смена_пароля]) VALUES (2, N'metodist', N'temp_hash', N'temp_salt', N'Методистова', N'Анна', NULL, N'metodist@college.ru', N'Методист', 1, CAST(N'2026-05-25T13:18:14.903' AS DateTime), NULL, 0, NULL, 0)
INSERT [dbo].[Пользователи] ([ID_пользователя], [Логин], [Хэш_пароля], [Соль], [Фамилия], [Имя], [Отчество], [Email], [Роль], [Активен], [Дата_регистрации], [Дата_последнего_входа], [Количество_ошибок_входа], [Заблокирован_до], [Требуется_смена_пароля]) VALUES (3, N'expert', N'temp_hash', N'temp_salt', N'Экспертова', N'Елена', NULL, N'expert@college.ru', N'Эксперт', 1, CAST(N'2026-05-25T13:18:14.907' AS DateTime), NULL, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Специальности] ON 

INSERT [dbo].[Специальности] ([ID_специальности], [Код_специальности], [Название_специальности]) VALUES (1, N'44.02.01', N'Дошкольное образование')
INSERT [dbo].[Специальности] ([ID_специальности], [Код_специальности], [Название_специальности]) VALUES (2, N'44.02.02', N'Преподавание в начальных классах')
INSERT [dbo].[Специальности] ([ID_специальности], [Код_специальности], [Название_специальности]) VALUES (3, N'44.02.03', N'Педагогика дополнительного образования')
SET IDENTITY_INSERT [dbo].[Специальности] OFF
GO
SET IDENTITY_INSERT [dbo].[Студенты] ON 

INSERT [dbo].[Студенты] ([ID_студента], [Фамилия], [Имя], [Отчество], [Группа], [Номер_зачетки], [Статус_участия], [ID_специальности]) VALUES (1, N'Иванов', N'Иван', N'Иванович', N'П-41', N'2024-001', N'Допущен', 5)
INSERT [dbo].[Студенты] ([ID_студента], [Фамилия], [Имя], [Отчество], [Группа], [Номер_зачетки], [Статус_участия], [ID_специальности]) VALUES (2, N'Петрова', N'Анна', N'Сергеевна', N'П-41', N'2024-002', N'Допущен', 5)
INSERT [dbo].[Студенты] ([ID_студента], [Фамилия], [Имя], [Отчество], [Группа], [Номер_зачетки], [Статус_участия], [ID_специальности]) VALUES (3, N'Сидоров', N'Петр', N'Алексеевич', N'П-41', N'2024-003', N'Допущен', 5)
SET IDENTITY_INSERT [dbo].[Студенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Экзамены] ON 

INSERT [dbo].[Экзамены] ([ID_экзамена], [Название_компетенции], [Код_компетенции], [Дата_начала], [Время_начала], [Макс_балл]) VALUES (0, N'Программирование на Python', N'PY-2025-01', CAST(N'2025-01-15' AS Date), CAST(N'09:00:00' AS Time), CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Экзамены] ([ID_экзамена], [Название_компетенции], [Код_компетенции], [Дата_начала], [Время_начала], [Макс_балл]) VALUES (1, N'Веб-технологии HTML/CSS', N'WEB-2025-01', CAST(N'2025-01-20' AS Date), CAST(N'10:00:00' AS Time), CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Экзамены] ([ID_экзамена], [Название_компетенции], [Код_компетенции], [Дата_начала], [Время_начала], [Макс_балл]) VALUES (2, N'Базы данных SQL', N'DB-2025-01', CAST(N'2025-01-25' AS Date), CAST(N'09:30:00' AS Time), CAST(100.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Экзамены] OFF
GO
SET IDENTITY_INSERT [dbo].[Эксперты] ON 

INSERT [dbo].[Эксперты] ([ID_эксперта], [Фамилия], [Имя], [Отчество], [Должность]) VALUES (0, N'Смирнов', N'Алексей', N'Викторович', N'Главный эксперт')
INSERT [dbo].[Эксперты] ([ID_эксперта], [Фамилия], [Имя], [Отчество], [Должность]) VALUES (1, N'Кузнецова', N'Елена', N'Петровна', N'Линейный эксперт')
INSERT [dbo].[Эксперты] ([ID_эксперта], [Фамилия], [Имя], [Отчество], [Должность]) VALUES (2, N'Васильев', N'Дмитрий', N'Игоревич', N'Линейный эксперт')
SET IDENTITY_INSERT [dbo].[Эксперты] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__BC2217D3AC4801B4]    Script Date: 25.05.2026 13:35:45 ******/
ALTER TABLE [dbo].[Пользователи] ADD UNIQUE NONCLUSTERED 
(
	[Логин] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Сессии__913D480405446F48]    Script Date: 25.05.2026 13:35:45 ******/
ALTER TABLE [dbo].[Сессии] ADD UNIQUE NONCLUSTERED 
(
	[Токен_сессии] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Специаль__0421101906111EF5]    Script Date: 25.05.2026 13:35:45 ******/
ALTER TABLE [dbo].[Специальности] ADD UNIQUE NONCLUSTERED 
(
	[Код_специальности] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Студенты__9345013928022482]    Script Date: 25.05.2026 13:35:45 ******/
ALTER TABLE [dbo].[Студенты] ADD UNIQUE NONCLUSTERED 
(
	[Номер_зачетки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Журнал_результатов] ADD  DEFAULT (getdate()) FOR [Дата_изменения]
GO
ALTER TABLE [dbo].[Журнал_результатов] ADD  DEFAULT ('ручная_корректировка') FOR [Тип_изменения]
GO
ALTER TABLE [dbo].[История_паролей] ADD  DEFAULT (getdate()) FOR [Дата_установки]
GO
ALTER TABLE [dbo].[Итоги] ADD  DEFAULT (getdate()) FOR [Дата_расчета]
GO
ALTER TABLE [dbo].[Модули] ADD  DEFAULT ((1.0)) FOR [Вес_модуля]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((1)) FOR [Активен]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT (getdate()) FOR [Дата_регистрации]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((0)) FOR [Количество_ошибок_входа]
GO
ALTER TABLE [dbo].[Пользователи] ADD  DEFAULT ((0)) FOR [Требуется_смена_пароля]
GO
ALTER TABLE [dbo].[Сессии] ADD  DEFAULT (getdate()) FOR [Время_входа]
GO
ALTER TABLE [dbo].[Студенты] ADD  DEFAULT ('Допущен') FOR [Статус_участия]
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD FOREIGN KEY([ID_итога])
REFERENCES [dbo].[Итоги] ([ID_итога])
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD FOREIGN KEY([ID_студента])
REFERENCES [dbo].[Студенты] ([ID_студента])
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD FOREIGN KEY([ID_экзамена])
REFERENCES [dbo].[Экзамены] ([ID_экзамена])
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD FOREIGN KEY([ID_эксперта_изменившего])
REFERENCES [dbo].[Эксперты] ([ID_эксперта])
GO
ALTER TABLE [dbo].[История_паролей]  WITH CHECK ADD FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Итоги]  WITH CHECK ADD FOREIGN KEY([ID_студента])
REFERENCES [dbo].[Студенты] ([ID_студента])
GO
ALTER TABLE [dbo].[Итоги]  WITH CHECK ADD FOREIGN KEY([ID_экзамена])
REFERENCES [dbo].[Экзамены] ([ID_экзамена])
GO
ALTER TABLE [dbo].[Итоги]  WITH CHECK ADD FOREIGN KEY([ID_эксперта])
REFERENCES [dbo].[Эксперты] ([ID_эксперта])
GO
ALTER TABLE [dbo].[Критерии]  WITH CHECK ADD FOREIGN KEY([ID_модуля])
REFERENCES [dbo].[Модули] ([ID_модуля])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Модули]  WITH CHECK ADD FOREIGN KEY([ID_экзамена])
REFERENCES [dbo].[Экзамены] ([ID_экзамена])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Сессии]  WITH CHECK ADD FOREIGN KEY([ID_пользователя])
REFERENCES [dbo].[Пользователи] ([ID_пользователя])
GO
ALTER TABLE [dbo].[Студенты]  WITH CHECK ADD FOREIGN KEY([ID_специальности])
REFERENCES [dbo].[Специальности] ([ID_специальности])
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD CHECK  (([Оценка_до]=(5) OR [Оценка_до]=(4) OR [Оценка_до]=(3) OR [Оценка_до]=(2)))
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD CHECK  (([Оценка_после]=(5) OR [Оценка_после]=(4) OR [Оценка_после]=(3) OR [Оценка_после]=(2)))
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD CHECK  (([Статус_до]='не сдал' OR [Статус_до]='сдал'))
GO
ALTER TABLE [dbo].[Журнал_результатов]  WITH CHECK ADD CHECK  (([Статус_после]='не сдал' OR [Статус_после]='сдал'))
GO
ALTER TABLE [dbo].[Итоги]  WITH CHECK ADD CHECK  (([Оценка]=(5) OR [Оценка]=(4) OR [Оценка]=(3) OR [Оценка]=(2)))
GO
ALTER TABLE [dbo].[Итоги]  WITH CHECK ADD CHECK  (([Статус]='не сдал' OR [Статус]='сдал'))
GO
ALTER TABLE [dbo].[Пользователи]  WITH CHECK ADD CHECK  (([Роль]='Наблюдатель' OR [Роль]='Эксперт' OR [Роль]='Методист' OR [Роль]='Администратор'))
GO
/****** Object:  StoredProcedure [dbo].[ИзменитьРезультат]    Script Date: 25.05.2026 13:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ИзменитьРезультат]
    @ID_итога INT,
    @Новая_сумма_баллов DECIMAL(10,2),
    @Новый_процент DECIMAL(5,2),
    @Новая_оценка INT,
    @Новый_статус NVARCHAR(20),
    @ID_эксперта INT,
    @Причина NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Сохраняем старые значения в журнал
    INSERT INTO Журнал_результатов (
        ID_итога,
        ID_студента,
        ID_экзамена,
        Сумма_баллов_до,
        Процент_до,
        Оценка_до,
        Статус_до,
        Сумма_баллов_после,
        Процент_после,
        Оценка_после,
        Статус_после,
        ID_эксперта_изменившего,
        Причина_изменения,
        Тип_изменения
    )
    SELECT 
        @ID_итога,
        ID_студента,
        ID_экзамена,
        Сумма_баллов,
        Процент,
        Оценка,
        Статус,
        @Новая_сумма_баллов,
        @Новый_процент,
        @Новая_оценка,
        @Новый_статус,
        @ID_эксперта,
        @Причина,
        'ручная_корректировка'
    FROM Итоги
    WHERE ID_итога = @ID_итога;
    
    -- Обновляем итоги
    UPDATE Итоги
    SET 
        Сумма_баллов = @Новая_сумма_баллов,
        Процент = @Новый_процент,
        Оценка = @Новая_оценка,
        Статус = @Новый_статус,
        Дата_расчета = GETDATE(),
        ID_эксперта = @ID_эксперта,
        Комментарий = @Причина
    WHERE ID_итога = @ID_итога;
    
    PRINT 'Результат изменен и записан в журнал';
END;
GO
USE [master]
GO
